@import "src/mixins";
.outline {
  background: rgba(0,0,0,0.7);
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;

  svg {
    fill: white;
  }

  .modal {
    width: 50%;
    margin: auto;
    position: relative;
    background: $primary-color;
    border: 2px solid $secondary-color;
    border-radius: 10px;
    top: 15%;
    padding-top: 20px;
    padding-bottom: 50px;
    .content {
     width: 60%;
      margin: auto;
    }
    h3 {
      text-align: center;
      margin-top: 20px;
      color: $secondary-color;
    }
    .cancel {
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
      z-index: 3;
    }
  }

}
.header {
  h3 {
    font-size: 32px;
  }
}
