/* You can add global styles to this file, and also import other style files */
@import 'src/mixins';
@import 'costum-container';

span, p, h1, h2, h3, h4, h5, h6, button, a{
  font-family: Arial, Helvetica, sans-serif;
  color: $secondary-color;
}

html, body { height: 100%; background: $primary-color }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.incorrect {
  color: red;
  font-size: 14px;
  margin-bottom: 14px;
}
.aligner {
  display: flex;
  justify-content: space-between;
}
.d-flex {
  display: flex;
}
.c-pointer {
  cursor: pointer;
}
input {
  border: none;
  outline: none;
  padding: 0px;
  margin: 0px;
  width: 100%;
  background: $secondary-color;

  &:focus,&:hover {
    border: none;
    outline: none;
  }
}
.input-custom {
  border-radius: 20px;
  padding: 10px 0px;
  padding-left: 15px;
  font-size: 20px;
  color: black;
  box-sizing: border-box;
}
.demo-row-is-clicked {
  border: 1px solid $activeRow-color !important;
  .mat-mdc-cell {
    color: $activeRow-color;
  }
}
.mat-mdc-header-cell, .mat-mdc-cell {
  font-size: 18px;
}
.input-in-modal {
  height: 50px;
}
.modal-wrapper {
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.margin-b-25 {
  margin-bottom: 25px;
}
header.page-title {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 10px;
  h3 {
    font-size: 32px;
  }
}
