/* You can add global styles to this file, and also import other style files */
@import 'src/mixins';

span, p, h1, h2, h3, h4, h5, h6, button, a{
  font-family: Arial, Helvetica, sans-serif;
  color: $secondary-color;
}

html, body { height: 100%; background: $primary-color }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.incorrect {
  color: red;
  font-size: 14px;
  margin-bottom: 14px;
}
.aligner {
  display: flex;
  justify-content: space-between;
}
.d-flex {
  display: flex;
}
.c-pointer {
  cursor: pointer;
}
input {
  border: none;
  outline: none;
  padding: 0px;
  margin: 0px;
  width: 100%;
  background: $secondary-color;

  &:focus,&:hover {
    border: none;
    outline: none;
  }
}
