.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
header {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 10px;
  h3 {
    font-size: 32px;
  }
}
